<!--Created by Vyanna Hill-->
<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header'); %>
<body>
                 
    <%- include('partials/nav'); %>

        <section>
            <h2>About The Team</h2>
            <p>
                Esum was developed by Vyanna, Jayson, Brandon, Brady. Esum was sponsored by Dr. Pradeep Atrey.
                <br>Interested in our team's personal work? Click the links below for our memeber's personal pages
                    <ul>
                        <li> <a href="https://github.com/Vy4thewin">Vyanna</a></li>
                        <li> <a href="https://github.com/jayschaefer">Jayson</a></li>
                        <li> <a href="https://github.com/BrandonOzsahin">Brandon</a></li>
                        <li> <a href="https://github.com/Brady-Madden">Brady</a></li>
                    </ul>
                    <!--Members please link any of your resources below-->
            </p>
        </section>

</body>

<%- include('partials/footer'); %>

<script></script>

</html>