<!--Partial of header -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--utf-8 is the most common encodder used for human Language, mostly all browser used utf-8 -->
    <!--Meta makes the webpage scale to the device used, scale 1 makes the broswer normal not zoom in/out -->

    <title>ESUM</title><!--ESUM is a placeholder title of the program VY-->
    <link rel="stylesheet" href="css/main.css">
    <!--Links the style sheet for the website externally VY-->
</head>